#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see

# this is read by the standalone daemon and embedded servers
[server]


# Galera-related settings
[galera]
# Allow server to accept connections on all interfaces.
#
[mysqld]
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
bind-address=*
port = 3306
# user = mysql
#

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.5 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.5]